html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ゲーム画面 */
#game-container{
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 50%;
    top: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(var(--game-scale));
    overflow: hidden;
}

/* Three.js用 */
canvas {
    display: block;
    width: 1280px;
    height: 720px;
}

/* ステータス */
#status {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 900px;
    height: 150px;
    padding: 20px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    z-index: 100;
}

.status-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.status-fan {
    font-size: 25px;
    margin-bottom: 10px;
}

.status-parameter {
    font-size: 25px;
    display: flex;
    gap: 25px;
}

.rank{
    font-weight: bold;
}

.rank-C{
    color: rgb(38, 156, 235);
}
.rank-B{
    color: rgb(62, 227, 117);
}
.rank-A{
    color: rgb(236, 218, 17);
}
.rank-S{
    color: rgb(221, 19, 19);
}

/* マスの内容 */
#masu{
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 900px;
    height: 150px;
    padding: 20px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    z-index: 100;
}

.masu-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.masu-description{
    font-size: 25px;
}

/* ルーレットボタン */
#roulette-button {
    position: absolute;
    left: 1000px;
    bottom: 145px;
    width: 250px;
    height: 80px;
    font-size: 28px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

/* ルーレット内容表示 */
#roulette-display{
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 900px;
    height: 150px;
    padding: 20px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    z-index: 100;
}

.roulette-deme{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.roulette-description{
    font-size: 25px;
}

/* 背景隠す用 */
#roulette-overlay {
    position: absolute;
    inset: 0;
    background: #555;
    display: none;
    z-index: 10;
}

/* マッチング画面 */
#matching-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
    z-index: 100;
}

.matching-room-id {
    margin-top: 50px;
    font-size: 40px;
}

.player-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 180px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.player-status {
    font-size: 35px;
}

#matching-start-button {
    width: 280px;
    height: 100px;
    margin-top: 200px;
    font-size: 40px;
    cursor: pointer;
}

/* タイトル画面 */
#title-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    z-index: 100;
}

.game-title {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 80px;
}

.title-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#create-room-button,
#join-room-button {
    width: 350px;
    height: 80px;
    font-size: 30px;
    cursor: pointer;
}