#status {
    position: fixed;

    left: 40px;
    bottom: 40px;

    width: 500px;

    padding: 20px 30px;

    background-color: white;

    border: 2px solid black;
    border-radius: 10px;

    font-family: sans-serif;

    z-index: 100;
}

.status-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.status-fan {
    font-size: 20px;
    margin-bottom: 10px;
}

.status-parameter {
    display: flex;
    gap: 30px;

    font-size: 18px;
}